{# templates/admin_panel/index.html.twig #}

{% extends 'admin_panel/adminbase.html.twig' %}

{% block body %}
 
    <div class="d-flex" id="wrapper">
        
        
           
            <div class="container-fluid">
                <!-- Your dashboard content goes here -->
            </div>
        
    </div>
{% endblock %}